a:link {
    text-decoration: none;
    color: black;
}
  
a:visited {
    text-decoration: none;
    color: black
}
  
a:hover {
    text-decoration: underline;
    color: black
}
  
a:active {
    text-decoration: underline;
    color: black
}

body {
    background-color: #fffdf4;
}

.header-nav {
    height: 50px;
    background-color: #FBD304;
    border-bottom: 5px solid #0064ba;
}

header ul {    
    display: flex;
    margin-left: 200px;
}

header ul li {
    margin: 15px 0px 0px 30px;
    font-family: 'Crete Round', serif;
    font-size: 24px;
}

.sidebar {
    display: block;
    height: 100%;
    width: 170px;
    /* position: fixed; */
    background-color: #FBD304;
    padding-top: 225px;
    padding-left: 10px;
    border-right: 5px solid #0064ba;
}

.sidebar li, .dropdown-btn {
    font-family: 'Crete Round', serif;
    font-size: 18px;
    margin-top: 30px;
    border: none;
    background-color: #FBD304;
}

.logo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

.active {
    background-color: #FBD304;
}

.software-dropdown-container {
    display: none;
}

.software-dropdown-container li{
    margin-left: 10px;
}

main {
    display: flex;
    background-image: url(../img/inukshuk.jpg);
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 875px;
    
}

.main-section {
    width: 75%;
    margin: 85px 0px 0px 300px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: bold;
}

.main-article {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    width: 75%;
    margin: 50px 0px 0px 0px;   
}

.main-article p {
    margin-bottom: 20px;
}