a:link {
    text-decoration: none;
    color: black;
}
  
a:visited {
    text-decoration: none;
    color: black
}
  
a:hover {
    text-decoration: underline;
    color: black
}
  
a:active {
    text-decoration: underline;
    color: black
}

header {
    height: 150px;
    background-color: grey;
}

header ul {    
    display: flex;
    margin-left: 200px;
}

header ul li {
    margin: 115px 0px 0px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.sidebar {
    height: 100%;
    width: 175px;
    position: fixed;
    background-color: darkgrey;
}

.sidebar li {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-top: 30px;
}